---
layout: page
title: Projects
---

{% for proj in site.data.projects %}
<div class="project-container">
	<div class="project-content">
		<h3><a id="{{ proj[0] }}" href="{{ proj[1].github }}" target="_blank">
			{{ proj[1].title }}
		</a>
		<br/>
		<span class="project-details">
			{{ proj[1].started }} -
			<a target="_blank" href="{{ proj[1].github }}">Repository</a>
			{% if proj[1].postUrl != '' %}
			- <a href="{{ proj[1].postUrl }}">Project introduction</a>
			{% endif %}
		</span>
		</h3>
		<p> {{ proj[1].description }} </p>
	</div>
</div>
{% endfor %}
