---
layout: default
---

<div class="post">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  <h1 class="post-title">{{ page.title }}</h1>

  <!-- Look the author details up from the site config. -->
  {% assign author = site.data.authors[page.author] %}


  <span class="post-date">
	  <!-- Output author details if some exist. -->
	  {% if author %}
		  <!-- Personal Info. -->
		  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
		  <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
	  {% endif %}
	  &#126;
	  {{ page.date | date_to_string }}
  </span>
  {{ content }}
</div>
<div class="post-categories">
  {% for category in categories %}
	  <a href="{{site.baseurl}}/categories.html#{{category|slugize}}">&#35;{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
